body {
  margin: 0;
  background-color: rgb(172, 172, 172);
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 50px;
  font-family: cursive;
}

.container {
  width: 500px;
  /* height: 400px; */
}

.input-con {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.input-con input {
  background-color: darkslategrey;
  color: wheat;
  width: 80%;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  border-color: transparent;
}

.input::placeholder {
  color: lightgray;
}

.add-Task {
  color: blueviolet;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer;
}

.medial-con {
  margin: 10px 0;
  min-height: 50px;
  display: flex;
  display: flex;
  flex-direction: column;
}

.createdTask {
  background-color: rgb(0, 0, 22);
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 10px;
  width: 480px;
  height: 30px;
  margin-top: 10px;
  position: relative;
}

.edit {
  color: blueviolet;
  font-weight: bolder;
  position: absolute;
  right: 18%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.delete {
  color: red;
  font-weight: bolder;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn {
  background-color: red;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border-color: transparent;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.btn:active {
  /* transform: scale(10px); */
}

.input-task {
  width: 70%;
  background-color: rgb(0, 0, 22);
  color: rgb(207, 108, 200);
  outline-color: none;
  border-color: transparent;
  position: absolute;
  left: 10px;
  height: 20px;
  border: 1px solid red;
}
